@import "tailwindcss";

@theme {
  --color-background: #f9f7f3;
  --color-surface: #ffffff;
  --color-text: #252422;
  --color-text-secondary: #999999;
  --color-primary: #00509d;
  --color-primary-hover: #1a76bc;
  --color-primary-contrast: #ffffff;
  --color-primary-secondary: #999999;
  --color-accent: #eb5e28;
  --color-accent-hover: #ff6700;
}

html[theme=dark] {
  --color-background: #252422;
  --color-surface: #403d39;
  --color-text: #fffcf2;
  --color-text-secondary: #ccc5b9;
}